<!DOCTYPE html>
<head><title>About</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header style="background-color:red;">
<a href="index.html"></a>
    <div class ="wrapper_header">
	<div class="div">
		<img class="banner_logo" src="images/banner_logo.png" alt="logo" title="Esmee Verstegen">
	</div>
	<div class="div">
		<img class="logo_tekst" src="images/esmeeverstegen.png">
	</div>
	<div class="div">
		<a href="Winkelmandje.html"><img class="winkelmandje" src="images/winkelmandje.jpg"></a>
	</div>	
	</div>
</header>
<nav class ="wrapper_menu">
	<div class ="wrapper_menu">
<table cellspacing="8" cellpadding="8">
<tr>
	<div class="div">
        <td><a class="home_button" href="Index.html">Home</a></td>
	</div>
	<div class="div">
		<td><a class="products_button" href="Products.html">Products</a></td>
	</div>
	<div class="div">
		<td><a class="about_button" href="About.html">About</a></td>
	</div>
	<div class="div">
		<td><a class="contact_button" href="Contact.html">Contact</a></td>
	</div>
	</div>
</tr>
</table>
</nav>

<div class="wrapper_about">
	<h2 class="title">About me</h2>
	<br><br>
	<p class="about_me">Esmee Jo-Anna Elizabeth Verstegen was born on  20 of August 2001, in Weert, The Netherlands. Esmee began making gaming videos on youtube in 2017 as a hobby. In 2018 Esmee added more video topics on her channel like vacation vlogs, guitar lessons, and dance videos. <br><br>
	In July 2018 Esmee reached 1 million subscribers, and just half a year later she reached 2 million subscribers. When she reached the 2 million subs Esmee registered a Twitch account where she began to stream weekly on Fridays under the title Frightday night streaming. Meanwhile on youtube Esmee became the fastest rising youtuber reaching a milestone of 5 million subscribers in October 2019. <br><br> 
	During the summer of 2020 Esmee moved to South Korea in June to audition as backup dancer for the kpop girlgroup Mamamoo. When Esmee was in South Korea she collaborated on youtube with Solar (Solarsido) one of the Mamamoo members making singing, dancing and music videos together. The Mamamoo fans really liked the appearance of Esmee on Solarsido and decided to subscribe to Esmee as well and gained another 3 million subscribers within 4 months.</p>
	<br><br>
	<br><br>
</div>

<hr>
<footer>
Copyright &copy; Esmee Verstegen 2020-2021
</footer>

</body>