<!DOCTYPE html>
<head><title>Contact</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header style="background-color:red;">
<a href="index.html"> </a>
	<div class ="wrapper_header">
	<div class="div">
		<img class="banner_logo" src="images/banner_logo.png" alt="logo" title="Esmee Verstegen">
	</div>
	<div class="div">
		<img class="logo_tekst" src="images/esmeeverstegen.png">
	</div>
	<div class="div">
		<a href="Winkelmandje.html"><img class="winkelmandje" src="images/winkelmandje.jpg"></a>
	</div>	
	</div>
</header>
<nav class ="wrapper_menu">
	<div class ="wrapper_menu">
<table cellspacing="8" cellpadding="8">
<tr>
	<div class="div">
        <td><a class="home_button" href="Index.html">Home</a></td>
	</div>
	<div class="div">
		<td><a class="products_button" href="Products.html">Products</a></td>
	</div>
	<div class="div">
		<td><a class="about_button" href="About.html">About</a></td>
	</div>
	<div class="div">
		<td><a class="contact_button" href="Contact.html">Contact</a></td>
	</div>
	</div>
</tr>
</table>
</nav>
<hr>

<div class="wrapper_contact">
	<h2 class="title">Contact</h2>
	<p class="socialmedia">Contact me here:
	
<a href="https://www.youtube.com/channel/UCVXf_VFiBGNaCqcLHhllrBg?view_as=subscriber"><img src="images website/youtube.jpg" alt="youtube"></a>
<a href="https://www.twitch.tv/esmeeverstegen"><img src="images website/twitch.jpg" alt="twitch"></a>
<a href="https://www.facebook.com/esmee.verstegen/"><img src="images website/facebook.jpg" alt="facebook"></a>
<a href="https://www.instagram.com/esmee_verstegen/"><img src="images website/instagram.jpg" alt="instagram"></a>
<a href="mailto:esmeeverstegen14@gmail.com"><img src="images website/email.jpg" alt="email"></a>
</p>
</div>

<hr>
<footer>
Copyright &copy; Esmee Verstegen 2020-2021
</footer>

</body>