<!DOCTYPE html>
<head><title>Esmee Verstegen</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
<header>
<a href="index.html"></a>
	<div class ="wrapper_header">
	<div class="div">
		<img class="banner_logo" src="images/banner_logo.png" alt="logo" title="Esmee Verstegen">
	</div>
	<div class="div">
		<img class="logo_tekst" src="images/esmeeverstegen.png">
	</div>
	<div class="div">
		<a href="Winkelmandje.html"><img class="winkelmandje" src="images/winkelmandje.jpg"></a>
	</div>	
	</div>
</header>
<nav class ="wrapper_menu">
	<div class ="wrapper_menu">
<table cellspacing="8" cellpadding="8">
<tr>
	<div class="div">
        <td><a class="home_button" href="Index.html">Home</a></td>
	</div>
	<div class="div">
		<td><a class="products_button" href="Products.html">Products</a></td>
	</div>
	<div class="div">
		<td><a class="about_button" href="About.html">About</a></td>
	</div>
	<div class="div">
		<td><a class="contact_button" href="Contact.html">Contact</a></td>
	</div>
	</div>
</tr>
</table>
</nav>

<hr>
<footer>
Copyright &copy; Esmee Verstegen 2020-2021
</footer>

</body>